/*@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }
*/

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

}

*, *::before, *::after {
  box-sizing: inherit;
}

.hidden {
  display: none;
}

body {
  background-color: black;
}

.grid {
  text-align: center;
}

.artwork {
  width: 100%;
}

nav {
  width: 100%;
  text-align: center;
  padding-top: 2em;
}

nav a{
  color: white;
  text-decoration: none;
  font-family: 'Open Sans Condensed', sans-serif;
  padding-right: 2em;
  font-size: 1.5em;
}

nav li {
  display: block;
}

.video {
  padding: 2em;
  text-align: center;
  width: 100%;
}

.logo {
  text-align: center;
}

.logo img{
  width: 75%;
  padding: 2em;
}

.video {
    margin-left: 0 auto;
}

.bio {
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  color: white;
  padding-top: 2em;
  margin: 2em;
}

.e-mail p {
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  color: white;
  font-size: 1.3em;
  padding-top: 0;
}

.p-title {
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 3em;
  width: 100%;
  text-align: center;
}

.explainer-text {
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: left;
  padding-bottom: 2em;
}

footer {
  background-color: black;
}

.footer-back {
  padding-top: 2em;
}

.work {
  text-align: center;
  padding-top: 5em;
}

.work-text {
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: left;
}

.work-text p {
  font-size: 1.2em;
}

.my-info {
  color: white;
  text-align: center;
  padding-top: 10em;
}

.name {
  margin: 0.5em;
  font-family: 'Open Sans Condensed', sans-serif;
}

.mail {
  font-family: 'Open Sans Condensed', sans-serif;
}

.current {
  color: grey;
}

.not-found {
 background-color: #2F1A45;
 min-height: 80vh;
 display: flex;
 flex-direction: column;
 justify-content: center;
}

.not-found h1{
  color: white;
  font-family: 'Sacramento', cursive;
  text-align: center;
}

.not-found h2 {
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
}

.cupcake {
  width: 60%;
  padding: 0;
  margin: 0 auto;
  max-width: 500px;

}

@media only screen and (min-width: 10em) {

  .bio {
    font-size: 1.1em;
  }

  .icons {
    overflow: hidden;
    text-align: center;
    padding-bottom: 1em;
  }

  .icons a{
    display: block;
    text-decoration: none;
  }

  .linkedin img {
    width: 20%;
    margin-right: 0.5em;
    text-decoration: none;
  }

  .behance img {
    width: 20%;
    margin-right: 0.5em;
    text-decoration: none;
  }


  .vimeo img {
  width: 20%;
  margin-right: 0.5em;
  text-decoration: none;
  }

  .twitter img {
    width: 20%;
    margin-right: 0.5em;
    text-decoration: none;
    }

    .work-text {
      margin: 2em;
    }

    .mail {
      font-size: 1em;
    }
}



@media only screen and (min-width: 25em) {

  .logo img{
    width: 60%;
    padding: 2em;
  }

  nav {
    width: 100%;
    text-align: center;
    padding-top: 2em;
  }

  nav a{
    color: white;
    text-decoration: none;
    font-family: 'Open Sans Condensed', sans-serif;
    padding-right: 2em;
    font-size: 1.5em;
  }

  nav li {
    display: inline-block;
  }

  .bio {
  padding-left: 0;
  padding-right: 0;
  font-size: 1.1em;
}

.icons {
  overflow: hidden;
  text-align: center;
}

.icons a{
  display: block;
  text-decoration: none;
}

.linkedin img {
  width: 15%;
  margin-right: 0.5em;
  text-decoration: none;
}

.behance img {
  width: 15%;
  margin-right: 0.5em;
  text-decoration: none;
}


.vimeo img {
width: 15%;
margin-right: 0.5em;
text-decoration: none;
}

.twitter img {
  width: 15%;
  margin-right: 0.5em;
  text-decoration: none;
  }

  .mail {
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 28em) {

.logo img{
  width: 50%;
  padding: 2em;
}

.bio {
  padding-left: 2em;
  padding-right: 2em;
}

.e-mail p {
  font-size: 1.7em;
}

.icons {
  overflow: hidden;
  text-align: center;
}

.icons a{
  display: inline;
  text-decoration: none;
}

.linkedin img {
  width: 15%;
  margin-right: 0.5em;
  text-decoration: none;
}

.behance img {
  width: 15%;
  margin-right: 0.5em;
  text-decoration: none;
}


.vimeo img {
width: 15%;
margin-right: 0.5em;
text-decoration: none;
}

.twitter img {
  width: 15%;
  margin-right: 0.5em;
  text-decoration: none;
  }

}

@media only screen and (min-width: 43em) {

.logo img{
  width: 40%;
  padding: 2em;
}

  .linkedin img {
    width: 8%;
    margin-right: 0.5em;
    text-decoration: none;
  }

  .behance img {
    width: 8%;
    margin-right: 0.5em;
    text-decoration: none;
  }


  .vimeo img {
  width: 8%;
  margin-right: 0.5em;
  text-decoration: none;
  }

  .twitter img {
    width: 8%;
    margin-right: 0.5em;
    text-decoration: none;
  }

  .work-text {
    margin: 5em;
  }
}

@media only screen and (min-width: 54em) {

.logo img{
  width: 30%;
  padding: 2em;
}

  .bio {
    padding-left: 5em;
    padding-right: 5em;
  }
}

@media only screen and (min-width: 60em) {

  nav {
    width: 100%;
    text-align: right;
    padding-top: 2em;
  }

  nav a{
    color: white;
    text-decoration: none;
    font-family: 'Open Sans Condensed', sans-serif;
    padding-right: 2em;
    font-size: 1.5em;
  }

  nav li {
    display: inline-block;
  }

  .icons {
    overflow: hidden;
    text-align: center;
  }

  .icons a{
    display: inline;
    text-decoration: none;
  }

  .linkedin img {
    width: 4%;
    margin-right: 0.5em;
    text-decoration: none;
  }

  .behance img {
    width: 4%;
    margin-right: 0.5em;
    text-decoration: none;
  }

  .vimeo img {
  width: 4%;
  margin-right: 0.5em;
  text-decoration: none;
  }

  .twitter img {
    width: 4%;
    margin-right: 0.5em;
    text-decoration: none;
  }

  .e-mail p {
    font-size: 1.3em;
  }
}

.eyes {
  animation: opacity 1.5s ease-in infinite;

}

@keyframes opacity {

  0% {
    opacity: 0;
  }

    5% {
      opacity: 1;
    }

    20% {
      opacity: 1;
    }

    30% {
      opacity: 0;
    }

    40% {
      opacity: 1;
    }

    100% {
      opacity: 1;
    }
}

.mouth {
  -webkit-transform-origin: center center;
  transform-origin: center center;
  -webkit-animation: beat 1s linear infinite;
  animation: beat 1s linear infinite;
}

@-webkit-keyframes beat {

  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  20% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  80% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }


  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes beat {

  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  20% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  80% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
