<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{page.title}} · {% endif %}</title>
  <meta name="{{site.baseurl}}/description" content="{{page.meta}}">
  <link href="{{site.baseurl}}/css/mode.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/type.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">


  <link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Sacramento" rel="stylesheet">

</head>
<body>

<header>
  {% include nav.html %}
</header>

<main>
{{content}}
</main>

</body>
</html>
